.press_page #header {
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(30%, rgba(255, 255, 255, 0)), color-stop(85%, black)), url("../img/press-header.jpg") no-repeat center center;
  background: linear-gradient(to bottom, black 0%, rgba(255, 255, 255, 0) 30%, black 85%), url("../img/press-header.jpg") no-repeat center center;
  background-size: cover;
  background-position-x: 35%;
  min-height: 70vh;
  padding-top: 56px;
  padding-bottom: 75vh;
  opacity: 1;
}

@media (max-width: 414px) {
  .press_page #header {
    min-height: 0vh;
    padding-bottom: 40vh;
  }
}

.press_page .photo-gallery .photos {
  padding-bottom: 20px;
}

.press_page .photo-gallery .item {
  padding-bottom: 30px;
}

body.links {
  height: 120vh;
}

@media (max-width: 414px) {
  body.links {
    height: 100%;
  }
}

#stream-video {
  padding: 0;
  -webkit-box-shadow: 0px 0px 50px 50px #000000;
          box-shadow: 0px 0px 50px 50px #000000;
  margin-bottom: 5vh;
}

body.page-blog {
  background: #141414;
}

body.page-blog .wtf {
  border: 1px solid red;
}

body.page-blog h1, body.page-blog h2, body.page-blog h3, body.page-blog button {
  text-transform: uppercase;
}

body.page-blog #blog-feature {
  height: 85vh;
  background-image: url("//source.unsplash.com/user/erondu/1600x900");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}

body.page-blog #blog-feature .gradient-overlay {
  height: 100% !important;
  background: #141414;
  background: -webkit-gradient(linear, left top, right top, from(#141414), to(rgba(255, 255, 255, 0.277731)));
  background: linear-gradient(90deg, #141414 0%, rgba(255, 255, 255, 0.277731) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#141414",endColorstr="#ffffff",GradientType=1);
}

body.page-blog #blog-feature .gradient-overlay .container-fluid {
  height: 100% !important;
}

body.page-blog #blog-feature .gradient-overlay .container-fluid .row {
  height: 100% !important;
}

body.page-blog #blog-feature .gradient-overlay .container-fluid .row .featured-post {
  margin-left: 10vh;
}

@media (max-width: 414px) {
  body.page-blog #blog-feature .gradient-overlay .container-fluid .row .featured-post {
    margin-left: 0;
  }
}

body.page-blog .blog-post {
  margin: 2vh auto;
}

body.page-blog .blog-post .post-img {
  background-image: url("http://localhost:1337/uploads/6e64da895f6a4d78a394b76f6a69eead.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 414px) {
  body.page-blog .blog-post .post-img {
    height: 15vh;
    margin-bottom: 2vh;
  }
}

body.page-blog .blog-post .post-info .post-button {
  width: 40%;
  margin-bottom: 0;
  color: #141414;
  background-color: white;
}

body.page-blog .blog-post .post-info .post-button:hover {
  color: white;
  background-color: transparent;
}

@media (max-width: 414px) {
  body.page-blog .blog-post .post-info .post-button {
    width: 100%;
  }
}

body.page-blog .blog-post .post-body {
  margin-top: 2vh;
}

* {
  padding: none;
  margin: none;
}

body {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, black), color-stop(50%, #491e6b), to(#ef762f));
  background: linear-gradient(180deg, black 30%, #491e6b 50%, #ef762f 100%);
  font-family: bc-alphapipe, sans-serif;
}

h2 {
  color: white;
}

hr {
  border: 2px solid white;
}

p {
  font-family: abril-display, serif;
}

a {
  color: inherit;
}

a i:hover {
  color: white;
  opacity: .5;
}

nav {
  background: transparent;
  color: white;
  position: absolute !important;
  width: 100%;
  padding: 1vh 4vh !important;
  font-size: 2vh;
}

@media (max-width: 414px) {
  nav {
    padding: 1vh 3vh !important;
  }
}

nav .navbar-brand {
  font-size: 4vh !important;
}

@media (max-width: 414px) {
  nav .navbar-brand {
    font-size: 3.5vh !important;
  }
}

nav a {
  color: white;
}

nav li.nav-item {
  font-size: 2.25vh;
}

section {
  padding: 7vh 10vh;
}

@media (max-width: 414px) {
  section {
    padding: 4vh;
  }
}

.card {
  color: white;
  background-color: transparent;
  border-color: white;
  margin-bottom: 2vh;
}

.card .card-header {
  border-color: white;
}

.btn {
  margin-bottom: 2vh;
  border: 4px solid;
  font-size: 2vh;
}

.btn-outline-primary {
  color: white;
  border-color: white;
}

.btn-outline-primary.inverted {
  color: black;
  background-color: white;
}

@media (max-width: 800px) {
  .btn-outline-primary.w-25 {
    width: 100% !important;
  }
}

.btn-outline-primary:hover {
  color: black;
  background-color: white;
  border-color: white;
}

.btn-outline-primary:hover.inverted {
  color: white;
  background-color: transparent;
  border-color: white;
}

.btn-outline-secondary {
  color: #f4ab3c;
  border-color: #f4ab3c;
}

.btn-outline-secondary.inverted {
  color: #341c51;
  background-color: #f4ab3c;
}

.btn-outline-secondary:hover {
  color: black;
  background-color: #f4ab3c;
  border-color: #f4ab3c;
}

.btn-outline-secondary:hover.inverted {
  color: #f4ab3c;
  background-color: transparent;
  border-color: #f4ab3c;
}

#header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(85%, black)), url("../img/600_4.29_Header.gif") no-repeat center center;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, black 85%), url("../img/600_4.29_Header.gif") no-repeat center center;
  background-size: cover;
  min-height: 70vh;
  padding-top: 56px;
  padding-bottom: 75vh;
  opacity: 1;
}

@media (max-width: 414px) {
  #header {
    min-height: 0vh;
    padding-bottom: 40vh;
  }
}

#music .hov-mag {
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

#music .hov-mag:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

#tour .bit-event a:hover {
  color: inherit;
}

#tour .bit-event a.bit-details:hover {
  opacity: .5;
}

#tour a.bit-top-track-button {
  text-transform: uppercase;
  font-size: 2.25vh;
  font-weight: 400;
}

#tour .bit-event-list-title {
  color: white;
  border: 4px solid;
  border-radius: .25rem;
  border-color: white;
  font-size: 2vh;
  font-weight: 400 !important;
  text-decoration: none;
  text-transform: uppercase;
  width: 20%;
  padding: .375rem .75rem;
  text-align: center;
  margin: 1vh auto;
}

@media (max-width: 800px) {
  #tour .bit-event-list-title {
    display: block !important;
    width: 100% !important;
  }
}

#tour .bit-event-list-title:hover {
  opacity: 1;
  color: #341c51;
  background-color: white;
  border: 4px solid;
  border-color: white;
  cursor: pointer;
}

#tour .bit-nav-bar-container {
  margin: 2vh auto;
}

#tour .bit-nav-bar {
  margin: 3vh auto;
}

@media (max-width: 414px) {
  #tour .bit-nav-bar {
    display: block;
  }
}

#tour .bit-lineUp, #tour .bit-location, #tour .bit-lineUp-with {
  font-family: abril-display, serif;
}

#tour .bit-date, #tour .bit-venue {
  text-transform: uppercase;
}

#tour .bit-location {
  font-weight: 700;
}

#tour .bit-widget.bit-layout-ipad .bit-event .bit-button {
  border-radius: .25rem;
  font-weight: 400;
}

#tour .widget {
  padding: 0 1vh;
}

#tour .bit-rsvp {
  color: white;
  border: 4px solid;
  border-radius: .25rem;
  border-color: white;
  font-size: 2vh;
  font-weight: 400;
}

#tour .bit-rsvp:hover {
  opacity: 1;
  color: #341c51 !important;
  background-color: white;
  border: 4px solid;
  border-color: white;
}

#tour .bit-offers {
  color: #341c51;
  background-color: white;
  border: 4px solid white;
  border-radius: .25rem;
  font-size: 2vh;
  font-weight: 400;
}

#tour .bit-offers:hover {
  opacity: 1;
  color: white;
  background-color: transparent;
  border: 4px solid;
  border-color: white;
}

#tour .bit-play-my-city-button {
  font-size: 2vh;
  font-weight: 400;
  width: 25%;
  margin: 5vh auto;
  border: 4px solid white;
  border-radius: .25rem;
}

#tour .bit-play-my-city-button:hover {
  color: white;
  background-color: transparent;
  border-color: white;
  text-decoration: none;
}

@media (max-width: 800px) {
  #tour .bit-play-my-city-button {
    width: 100%;
  }
}

#video .video-cover .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 75%;
  opacity: 0;
}

#video .video-cover h4 {
  color: white;
  font-size: 3vh;
}

#video .video-cover .fa-play-circle {
  font-size: 5vh;
  color: white;
}

@media (max-width: 414px) {
  #video .video-cover .overlay {
    opacity: 1;
  }
  #video .video-cover img {
    opacity: .5;
  }
}

#video .video-cover:hover {
  border: 4px solid;
  border-color: white;
  border-radius: .25rem;
}

#video .video-cover:hover .overlay {
  opacity: 1;
}

#video .video-cover:hover img {
  opacity: .1;
}

footer {
  font-size: 3vh;
  padding: 3vh 0;
}

footer .fa {
  font-size: 4vh;
}

@media (max-width: 414px) {
  footer .col-lg-1 {
    margin-bottom: 3vh;
  }
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 2px solid;
  border-color: white;
}

.modal-content span {
  color: white;
}

.modal-content i {
  font-size: 5vh;
}

a#topBtnWrapper {
  opacity: 0;
  -webkit-transition: 0.7s opacity;
  transition: 0.7s opacity;
}

a#topBtnWrapper i:hover {
  opacity: 1;
}

#topBtn {
  position: fixed;
  bottom: 1vh;
  -webkit-transition: 0.7s scale;
  transition: 0.7s scale;
  right: 2.75vh;
  z-index: 99;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  padding: 1.5vh;
  border-radius: .25rem;
  font-size: 3vh;
}

@media (max-width: 414px) {
  #topBtn {
    right: 0.55vh;
    bottom: 3.75vh;
    padding: 1vh;
  }
}

#topBtn:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

body.ohfour {
  height: 100vh;
}
/*# sourceMappingURL=main.css.map */