@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) {
      @content;
    }
  } @else if $point == laptop {
    @media (min-width: 64em) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 50em) {
      @content;
    }
  } @else if $point == phablet {
    @media (min-width: 37.5em) {
      @content;
    }
  } @else if $point == phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }
}

// Color Variables
$white: white;
$bright-orange: rgba(244, 171, 60, 1);
$purple: rgba(52, 28, 81, 1);

// Overrides
* {
  padding: none;
  margin: none;
}
body {
  color: $white;
  background: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgba(73,30,107,1) 50%, rgba(239,118,47,1) 100%); 
  font-family: bc-alphapipe, sans-serif;
  scroll-snap-type: y proximity;
}
h2 {
  // color: $bright-orange;
  color: $white;
}
hr {
  // border: 2px solid $bright-orange;
  border: 2px solid $white;
}
p {
  font-family: abril-display, serif;
}
a {
  color: inherit;
  i {
    &:hover {
      color: $white;
      opacity: .5;
    }
  }
}

// Nav Styles
nav {
  background: transparent;
  color: $white;
  position: absolute !important;
  width: 100%;
  padding: 1vh 4vh !important;
  @include breakpoint(phone) {
    padding: 1vh 3vh !important;
  }
  font-size: 2vh;
  .navbar-brand {
    font-size: 4vh !important;
    @include breakpoint(phone) {
      font-size: 3.5vh !important;
    }
  }
  a {
    color: $white;
  }
  li.nav-item {
    font-size: 2.25vh;
  }
}
section {
  padding: 7vh 10vh;
  scroll-snap-align: start;
  @include breakpoint(phone) {
    padding: 4vh;
  }
}

// Class Overrides
.card {
  color: $white;
  background-color: transparent;
  border-color: $white;
  margin-bottom: 2vh;
  .card-header {
    border-color: $white;
  }
}
.btn {
  margin-bottom: 2vh;
  border: 4px solid;
  font-size: 2vh;
}
.btn-outline-primary {
  color: $white;
  border-color: $white;
  &.inverted {
    color: black;
    background-color: $white;
  }
  @include breakpoint(phone){
    &.w-25 {
      width: 100%!important;
    }
  }
  &:hover {
    color: black;
    background-color: $white;
    border-color: $white;
    &.inverted {
      color: $white;
      background-color: transparent;
      border-color: $white;
    }
  }
}
.btn-outline-secondary {
  color: $bright-orange;
  border-color: $bright-orange;
  &.inverted {
    color: $purple;
    background-color: $bright-orange;
  }
  &:hover {
    color: black;
    background-color: $bright-orange;
    border-color: $bright-orange;
    &.inverted {
      color: $bright-orange;
      background-color: transparent;
      border-color: $bright-orange;
    }
  }
}

// Header Styles
#header {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 1) 85%
    ),
    url("../img/siteheader.jpg") no-repeat center center;
  background-size: cover;
  min-height: 70vh;
  padding-top: 56px;
  opacity: 1;
  @include breakpoint(phone) {
    min-height: 0vh;
    padding-bottom: 40vh;
  }
  padding-bottom: 75vh;
}

// Music styles
#music {
  // .white-shadow {
  //   -webkit-box-shadow: 3px 3px 25px 0px grey;
  //   -moz-box-shadow: 3px 3px 25px 0px grey;
  //   box-shadow: 3px 3px 25px 0px grey;
  // }
  .hov-mag {
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    &:hover {
      transform: scale(1.01);
      -webkit-transition: 0.1s ease-in-out;
      -moz-transition: 0.1s ease-in-out;
      -o-transition: 0.1s ease-in-out;
      transition: 0.1s ease-in-out;
    }
  }
}


// Tour Styles
#tour {
  .bit-event {
    a {
      &:hover {
        color: inherit;
      }
    }
    a.bit-details {
      &:hover {
        opacity: .5;
      }
    }
  }
  // Track Header Text
  a.bit-top-track-button {
    text-transform: uppercase;
    font-size: 2.25vh;
    font-weight: 400;
  }
  // Upcoming and Past Show Dates Header
  .bit-event-list-title {
    color: $white;
    border: 4px solid;
    border-radius: .25rem;
    border-color: $white;
    font-size: 2vh;
    font-weight: 400!important;
    text-decoration: none;
    text-transform: uppercase;
    width: 20%;
    padding: .375rem .75rem;
    text-align: center;
    margin: 1vh auto;
    @include breakpoint(phone){
      display: block;
      width: 100%;
    }
    &:hover {
      opacity: 1;
      color: $purple;
      background-color: $white;
      border: 4px solid;
      border-color: $white;
      cursor: pointer;
    }
  }
  .bit-nav-bar-container {
    margin: 2vh auto;
  }
  .bit-nav-bar {
    margin: 3vh auto;
    @include breakpoint(phone){
    display: block;
    }
  }
  .bit-lineUp, .bit-location, .bit-lineUp-with {
    font-family: abril-display, serif;
  }
  .bit-date, .bit-venue {
    text-transform: uppercase;
  }
  .bit-location {
    font-weight: 700;
  }
  // Event Specific Buttons
  .bit-widget.bit-layout-ipad .bit-event .bit-button {
    border-radius: .25rem;
    font-weight: 400;
  }
  .widget {
    padding: 0 1vh;
  }
  .bit-rsvp {
    color: $white;
    border: 4px solid;
    border-radius: .25rem;
    border-color: $white;
    font-size: 2vh;
    font-weight: 400;
    &:hover {
      opacity: 1;
      color: $purple!important;
      background-color: $white;
      border: 4px solid;
      border-color: $white;
    }
  }

  .bit-offers {
      color: $purple;
      background-color: $white;
      border: 4px solid $white;
      border-radius: .25rem;
      font-size: 2vh;
      font-weight: 400;
    &:hover {
        opacity: 1;
        color: $white;
        background-color: transparent;
        border: 4px solid;
        border-color: $white;
    }
  }
  .bit-play-my-city-button {
    font-size: 2vh;
    font-weight: 400;
    width: 25%;
    margin: 5vh auto;
    border: 4px solid $white;
    border-radius: .25rem;
    &:hover {
      color: $white;
      background-color: transparent;
      border-color: $white;
      text-decoration: none;
    }
    @include breakpoint(phone){
      width: 100%;
    }
  }
}


// Video Styles
#video {
  .video-cover {
    .overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75%;
      opacity: 0;
    }
    h4 {
      color: $white;
      font-size: 3vh;
    }
    .fa-play-circle {
      font-size: 5vh;
      color: white;
    }
    @include breakpoint(phone){
      .overlay {
        opacity: 1;
      }
      img {
        opacity: .5;
      }
    }
    &:hover {
      border: 4px solid;
      border-color: $white;
      border-radius: .25rem;
      .overlay {
        opacity: 1;
      }
      img {
        opacity: .1;
      }
    }
  }
}

// Footer Styles
footer {
  font-size: 3vh;
  padding: 3vh 0;
  .fa {
    font-size: 4vh;
  }
  @include breakpoint(phone){
    .col-lg-1 {
      margin-bottom: 3vh;
    }
  }

}

// Modals
.modal-content {
  background-color:rgba(0,0,0,0.5);
  color:  white;
  border:  2px solid;
  border-color: $white;
  span {
    color: $white;
  }
  i {
    font-size: 5vh;
  }
}
